.CoveoResult {
    height: max-content;
}

.coveo-result-folding-child-result {
    border-left: none !important;
    padding-left: 15px !important;
    width: max-content;
}

img {
    display: block;
    max-width:120px;
    max-height:120px;
    width: auto;
    height: auto;
}

.coveo-folding-footer {
    display: none;
}

.coveo-folding-results {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

svg.coveo-facet-value-checkbox-svg {
    margin-top: 5px;
}

.coveo-facet-value-checkbox.coveo-accessible-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.magic-box-clear.coveo-accessible-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
